# idea
*.iml
.idea/

# mvn
target/

# Embedded SOLR
workflow-poland/src/test/resources/solr/data/snapshot_metadata/

# Garbage
.DS_Store
*.log
*.db

# frontend
dist/
node_modules/
coverage/
sh.exe.stackdump
ui/.vscode
.editorconfig